<!doctype html>

<html>


	<head>
		<title>Locations</title>
		<link href="/css/PocketPup.css" rel="stylesheet">
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" >
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>


	<body>

		<div class="bar top">
			<a href="activity.html" id="actButton"><i class="fa fa-book"></i></a>
			<p class="pageTitle">Locations</p>
			<a href="store.handlebars" id="storeButton"><i class="fa fa-credit-card"></i></a>
		</div>

		{{#each locations}}
		<div>
			<iframe class="locFrame" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?q=Dog%20park%20ucsd&key=AIzaSyAcWoIs_9TLAdtxNxrRoKh74cYnZndN7V0" width="80%" height="auto"></iframe>
		</div>
		{{/each}}


		<div class="bar bottom">
		  <a href="index.html"><i class="fa fa-home"></i></a> 
		  <a class="active bottom" href="locations.html"><i class="fa fa-map-marker"></i></a> 
		  <a href="training.html"><i class="fa fa-paw"></i></a> 
		  <a href="vote.html"><i class="fa fa-check-square-o"></i></a>
		</div>

	<script src="/js/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/bootstrap.js"></script>
	</body>
</html>