<!doctype html>

<html>

	<head>
		<title>Store</title>
		<link href="css/PocketPup.css" rel="stylesheet">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" >
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>


	<body>

		<div class="bar top">
			<a href="activity" id="actButton"><i class="fa fa-book"></i></a>
			<p class="pageTitle">Store</p>
			<a href="store" class="active top" id="storeButton"><i class="fa fa-credit-card"></i></a>
		</div>

		<div class="buffer"></div>

		<div class="storeMenu">
			<p class="" id="indoor"><i class="fa fa-home"></i></p>
			<p class="" id="outdoor"><i class="fa fa-tree"></i></p>
			<p class="" id="furniture"><i class="fa fa-tv"></i></p>
			<p class="" id="accessories"><i class="fa fa-diamond"></i></p>
			<p class="" id="toys"><i class="fa fa-futbol-o"></i></p>
		</div>

		<div class="storeContent">
			<div id="storeTop">
				<p class="itemIcon" id="iconOne"><img src="images/store/square_placeholder.png" height="120" width="auto"></p>
				<p class="itemIcon" id="iconTwo"><img src="images/store/square_placeholder.png" height="120" width="auto"></p>
			</div>
			<div id="storeMid">
				<p class="itemIcon" id="iconThree"><img src="images/store/square_placeholder.png" height="120" width="auto"></p>
				<p class="itemIcon" id="iconFour"><img src="images/store/square_placeholder.png" height="120" width="auto"></p>
			</div>
			<div id="storeBottom">
				<p class="itemIcon" id="iconThree"><img src="images/store/square_placeholder.png" height="120" width="auto"></p>
				<p class="itemIcon" id="iconFour"><img src="images/store/square_placeholder.png" height="120" width="auto"></p>
			</div>
		</div>

		<div id="arrowSpace">
			<p id="leftArrow"><img src="images/store/left_arrow.png" width="50" height="auto"></p>
			<p id="rightArrow"><img src="images/store/right_arrow.png" width="50" height="auto"></p>
		</div>

		<div class="buffer"></div>


		<div class="bar bottom">
 			<a href="home"><i class="fa fa-home"></i></a> 
  			<a href="locations"><i class="fa fa-map-marker"></i></a> 
 			<a href="training"><i class="fa fa-paw"></i></a> 
		  <a href="vote"><i class="fa fa-check-square-o"></i></a>
		</div>

	</body>

</html>