/* General */
.bar {
	position: fixed;
	height: 8%;
	min-height: 35pt;
	border-color: grey;
	width: 100%;
    text-align: center;
    background-color: #bebebe;
    overflow: auto;
    z-index: 2;
}


.top {
	border-bottom: 1pt;
	border-bottom-style: inset;
	top: 0;
}

.bottom {
    border-top: 1pt;
    border-top-style: inset;
    bottom: 0;
}

.bar.bottom a {
    width: 25%;
    padding-top: 2pt;
    padding-bottom:2pt;
    float: left;
    transition: all 0.3s ease;
    color: #737373;
    font-size: 24pt;
}

.pageTitle {
	text-align: center;
	font-size: 24pt;
	color: #737373;
	display:inline;
    padding-top: 8pt;
    padding-bottom: 8pt
}

#actButton {
	position: fixed;
	left: 0;
    width: 10%;
    height: 8%;
    transition: all 0.3s ease;
    color: #737373;
    font-size: 16pt;
    padding-top: 8pt;
    padding-bottom: 8pt
}

#storeButton {
	position: fixed;
	right: 0;
    width: 10%;
    height: 8%;
    padding-top: 8pt;
    padding-bottom:5pt;
    transition: all 0.3s ease;
    color: #737373;
    font-size: 16pt;
}

.bar a:hover {
    background-color: #d9d9d9;
}

.active.top {
    background-color: #b8c492;
    height:100%;
    border-bottom: 1pt;
    border-color: none;
    border-bottom-style: inset;
}

.active.bottom {
    background-color: #b8c492;
    height:100%;
    border-top: 1pt;
    border-color: none;
    border-top-style: inset;
}

/* Home Screen */

#background {
	position: absolute;
	padding-top: 35pt;
	height: 92%;
	width: 100%;
	z-index: -3;
}

.dog {
    position: absolute;
    bottom: 130pt;
    left: 90pt;
}

.btn#outside {
	position: absolute;
	bottom: 40pt;
	right: 0pt;
	color: white;
	text-shadow: 1pt 1pt 5pt #000;
}

.btn#inside {
	position: absolute;
	bottom: 40pt;
	left: 0pt;
	color: white;
	text-shadow: 1pt 1pt 5pt #000;
}

.btn#nextDog {
    position: absolute;
    top: 40pt;
    right: 0pt;
    color: white;
    text-shadow: 1pt 1pt 5pt #000;
}

.btn#loginBttn {
    position: absolute;
    font-size: 14pt;
    top: 40pt;
    left: 0pt;
    color: white;
    text-shadow: 1pt 1pt 5pt #000;
}

/*Vote page*/  

.voteInfo {
    text-align: center;
    width: 100%;
}

.voteButton {
    display: inline;
    width: 100%;
    padding-left: 40pt;
    font-size: 20pt;
}

#owner {
    display: inline;}

#pet {
    display: inline;
}

#topic {
    text-align: center;
}

#pupPic {
    display: block;
    margin: auto;
    border: 10px solid;
    border-color: #b8c492;
    width: 80%;
    height: 80%;
}

#thumbsUp {
    left: 0;
    position:absolute;
    text-align:center;
    color: white;
    top: 180px;
    width: 100%;
    z-index; -1;
    font-size: 150pt;
}

#thumbsDown {
    left: 0;
    position:absolute;
    text-align:center;
    color: white;
    top: 180px;
    width: 100%;
    z-index; -1;
    font-size: 150pt;
}

.voteText {
    display: block;
    width:300px;
    height:100px;
    background-color: grey;
    color: white;
    margin:0 auto;
}

.voteSubmit {
    position: relative;
    left: 200pt;
    background-color: lightgrey;
    margin-top: 5pt;
}

.buffer {
    height: 50pt;
}

/* Profile Page */

h1#dogName {
    font-size: 40pt;
    text-align: center;
    position: fixed;
    padding-top: 32pt;
    width: 100%;
    color: white;
    text-shadow: 1pt 1pt 10pt #000;
}

p.ownerName {
    font-size: 14pt;
    padding-left: 67pt;
    text-align: right;
    display: inline;
    position: relative;
    top: 90pt;
    width: 100%;
    text-shadow: 1pt 1pt 5pt #000;
    color: white;
}

p.ownerName#owner {
    padding-left: 0pt;
}

#profileBG {
    position: absolute;
    top:8%;
    height: 84%;
    width: 100%;
    z-index: -3;
}

#profDog {
    position: absolute;
    bottom: 97pt;
    left: 105pt;
}

p#breed {
    font-size: 32pt;
    text-align: center;
    position: fixed;
    bottom: 65pt;
    width: 100%;
    text-align: center;
    left: 3pt;
    z-index: 10;
    text-shadow: 1pt 1pt 5pt #000;
    color: white;
}

p#age {
    font-size: 16pt;
    text-align: center;
    position: fixed;
    bottom: 45pt;
    width: 100%;
    text-align: center;
    left: 3pt;
    z-index: 10;
    text-shadow: 1pt 1pt 5pt #000;
    color: white;
}

.btn#next {
    position: absolute;
    bottom: 40pt;
    right: 0pt;
    color: white;
    text-shadow: 1pt 1pt 5pt #000;
}

.btn#previous {
    position: absolute;
    bottom: 40pt;
    left: 0pt;
    color: white;
    text-shadow: 1pt 1pt 5pt #000;
}

/* LogIn Page */

.loginBox {
    padding: 5pt; 
}

.login {
    display: block;
    width: 200pt;
    margin: 0 auto;
    background-color: lightgrey;
}

.logoSpace{
    display: block;
    margin: 25pt;
    padding-left: 35pt;
    width: 80%;
    height: 80%;
    padding-bottom: 30pt;
}

.loginButton{
    margin: auto;
    padding-left: 85pt;
    display: inline-block;
    border: 2px;
    border-color: darkgrey;
    left: 80pt;
    margin: auto;
    font-family: "Arial";
    text-decoration: none;
}

a#loginBtn{
    background-color: #b8c492; 
    color: black;
    text-decoration: none;
}

#signinBtn{
    background-color: #b8c492;
    color: black;
}

/* Store Page */

.storeMenu {
    position:relative;
    text-align:center;
    font-size: 20pt;
    padding-bottom: 10pt;
}

#indoor, #outdoor, #furniture, #accessories, #toys {
    background-color: white;
    display: inline;
    margin: 10pt;
}

.storeContent {
    margin-left: 30pt;
    margin-right: 30pt;
    padding: 10pt;
    border-style: dashed;
    border-width: 2pt;
    background-color: lightgrey;
    margin-bottom: 10pt;
}

.itemIcon {
    margin: auto;
    padding-left: 15pt;
}

#iconOne, #iconThree {
    padding-left: 0pt;
}

#storeTop, #storeMid {
    padding-bottom: 10pt;
}

#iconOne, #iconTwo {
    display: inline;
    padding-bottom: 10pt;
}

#iconThree, #iconFour {
    display: inline;
    margin: 0pt;
}

#arrowSpace {
    padding-top: 0pt;
}

#leftArrow, #rightArrow {
    display: inline;
    padding-left: 68pt;
    padding-top: 10pt;
    margin: auto;
}

/* Locations */
.locFrame {
    position: absolute;
    width: 100%;
    height: 100%;
}

.locationsNode {
    padding-left: 20pt;
    padding-right: 20pt;
    padding-bottom: 20pt;
    border-width: 5pt;
}

.locHeading {
    font-style: bold;
    background-color: lightgrey;
}

#locName {
    text-align: center;
    border-width: 5pt;
    font-size: 16pt;
}

#locRating {
    text-align: right;
    font-size: 12pt;
}

/* Sign Up */
.signupBox {
    padding: 5pt;
}

.signup {
    display: block;
    width: 200pt;
    margin: 0 auto;
    background-color: lightgrey;
}

#signupDog {
    position: fixed;
    left: 35%;
    top: 150pt;
}

#signupBreed {
    font-size: 2em;
    position: fixed;
    top: 250pt;
    width: 100%;
    text-align: center;
}

#signSubmit {
    background-color: #b8c492; 
    color: black;
    text-decoration: none;
    display: inline-block;
    border: 2px;
    border-color: darkgrey;
    margin: auto;
    position: fixed;
    top: 275pt;
    left: 38%;
}

.btn#signPrev {
    font-size: 2em;
    position: fixed;
    top: 200pt;
    left: 50pt;
    color: darkgrey;
}

.btn#signNext {
    font-size: 2em;
    position: absolute;
    top: 200pt;
    right: 50pt;
    color: darkgrey;
}