

.title {
	text-align:center;
	color:gray;
	font: normal 420pt;
}

.topbar {
	position: fixed;
	top: 0;
	height:40px;
}

#voteButton {
	position: fixed;
	left: 0;
	border: 30px;
}

#storeButton {
	position: fixed;
	right: 0;
}

.doghome {
	position: fixed;
	top: 50;
	left: 50;
}

.bottombar {
	position: fixed;
	bottom: 0;
	left: 0;
}

