ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: pink;
    width: 100%;
}

.topbar {
	position: fixed;
	height: 10%;
}

#voteButton {
	position: fixed;
	left: 3pt;
}

#storeButton {
	position: fixed;
	right: 3pt;
}

.doghome {
	position: absolute;
	top: 20pt;
}

.bottombar {
	position: fixed;
	bottom: 0;
	height: 10%;
}

li {
    float: left;
    padding: 8pt;
}

a.bottombar {
    display: block;
}
