body{
    background-image: url("../images/bg.png");
    background-repeat: no-repeat;
}

.bar {
	position: fixed;
	height: 8%;
	min-height: 35pt;
	border-color: grey;
	width: 100%;
    text-align: center;
    background-color: royalblue;
    overflow: auto;
}


.top {
	border-bottom: 1pt;
	border-bottom-style: inset;
	top: 0;
}

.pageTitle {
	text-align: center;
	font-size: 24pt;
	color:white;
	display:inline;
    padding-top: 8pt;
    padding-bottom: 8pt
}

#voteButton {
	position: fixed;
	left: 0;
    width: 10%;
    height: 8%;
    transition: all 0.3s ease;
    color: white;
    font-size: 16pt;
    padding-top: 8pt;
    padding-bottom: 8pt
}

#storeButton {
	position: fixed;
	right: 0;
    width: 10%;
    height: 8%;
    padding-top: 8pt;
    padding-bottom:5pt;
    transition: all 0.3s ease;
    color: white;
    font-size: 16pt;
}

.dog {
    font-size: 50pt;
    color: brown;
    float: left;
    transition:all 0.3s ease;
    position: absolute;
    top: 350pt;
    left: 150pt;
}

.bottom {
	border-top: 1pt;
	border-top-style: inset;
	bottom: 0;
}

.bar.bottom a {
    width: 25%;
    padding-top: 2pt;
    padding-bottom:2pt;
    float: left;
    transition: all 0.3s ease;
    color: white;
    font-size: 24pt;
}

.bar a:hover {
    background-color: lightskyblue;
}

.active.top {
    background-color: dodgerblue;
    height:100%;
    border-bottom: 1pt;
    border-color: none;
    border-bottom-style: inset;
}

.active.bottom {
    background-color: dodgerblue;
    height:100%;
    border-top: 1pt;
    border-color: none;
    border-top-style: inset;
}

.background {
	padding-top: 2em;
	padding-bottom: 2em;
	height:84%;
	float: top;
}

#owner {
    display: inline;
    text-align: left;
}

#pet {
    display: inline;
    text-align: right;
}

#topic {
    text-align: center;
}

#pupPic {
    height: 75%;
    width: 75%;
}